@tailwind base;
@tailwind components;
@tailwind utilities;

.default-button {
  transition: background-color 0.3s ease;
}

.default-button:hover {
  background-color: #f9fafb !important;
}
.default-button:disabled {
  background-color: transparent !important;
}
.green-default-button {
  transition: background-color 0.3s ease;
  border-color: #6e9890 !important;
}

.green-default-button:hover {
  background-color: #d9e4e2 !important;
  border-color: #6e9890 !important;
}

.green-text-button {
  transition: background-color 0.3s ease;
  border-color: transparent !important;
}

.green-text-button:hover {
  background-color: #d9e4e2 !important;
  border-color: transparent !important;
}

.input-disabled input::placeholder {
  color: #667085;
}
.number-input-disabled input::placeholder {
  color: #667085 !important;
}

/* .ant-tooltip-content {
  margin-top: -10px !important;
  margin-bottom: -16px !important;
  padding-top: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: black !important;
  font-weight: 500;
}

.ant-tooltip-inner {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: black !important;
}

.ant-tooltip-arrow {
  background-color: transparent !important;
  display: none !important;
} */

.default-alert:hover {
  background-color: #f2f4f7 !important;
}
.green-alert:hover {
  background-color: #b6cbc7 !important;
}
.error-alert:hover {
  background-color: #fee4e2 !important;
}
.warning-alert:hover {
  background-color: #fef0c7 !important;
}
.success-alert:hover {
  background-color: #dcfae6 !important;
}
.transparent-alert:hover {
  background-color: #f9fafb !important;
}

.button-group:hover {
  background-color: #f9fafb;
  color: #344054;
}

.help-circle-icon:hover {
  stroke: #667085;
}

.ant-picker-cell-inner {
  border-radius: 50% !important;
}
