@tailwind base;
@tailwind components;
@tailwind utilities;

.green-default-hover-button {
  transition: background-color 0.3s ease;
}

.green-default-hover-button:hover {
  background-color: #d9e4e2 !important;
}

.gray-default-hover-button {
  transition: background-color 0.3s ease;
}

.gray-default-hover-button:hover {
  background-color: #f9fafb !important;
}

.green-text-hover-button {
  transition: background-color 0.3s ease;
}

.green-text-hover-button:hover {
  background-color: #d9e4e2 !important;
}

.gray-text-hover-button {
  transition: background-color 0.3s ease;
}

.gray-text-hover-button:hover {
  background-color: #f9fafb !important;
}
